#main_content{
    width: 90%;
    margin: auto;
    max-width: 1200px;
}
table.header{
    width: 100%;
    height:100px;
}
table.header tr td:nth-child(2){
    text-align: right;
}
table.header .logout{
    cursor: pointer;
}
table.course_info{
    width: 100%;
    height: 100%;
}
table.course_info td.user_list{
    width: 200px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
table.course_info td{
    vertical-align: top;
}
.members_list{
    margin-top: 50px;
}
.messages{
    margin-bottom: 20px;
}
.course_image{
    margin: 10px;
    margin-top: 0px;
    float: left;
}
table.meta tr td:first-child{
    width: 35px;
}
table.meta tr td{
    border: none;
    padding: 5px;
}
table.course_info .course_information{
    padding-left: 10px;
}
.buttons{
    margin-top: 10px;
}
.buttons .button{
    margin-right: 10px;
    margin-bottom: 10px;
}