#main_content{
    width: 90%;
    margin: auto;

}
.raised.segment{
    width: 400px;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -175px;
}
#loading_bg{
    width: 100%;
    height: 100%;
    background: grey;
    position: fixed;
    opacity: 0.5;
    z-index: 1000;
}
.footer{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}