body{
    overflow: scroll;
}
#main_content{
    width: 90%;
    margin: auto;
}
table.header{
    width: 100%;
    height:100px;
}
table.header tr td:nth-child(2){
    text-align: right;
}
table.header .logout{
    cursor: pointer;
}
[data-tab=course] .ui.table tr td:first-child,[data-tab=course] .ui.table tr td:first-child img{
    width: 100px;
}
[data-tab=course] .ui.table tr td:nth-child(2){
    vertical-align: top;
    position: relative;
}
[data-tab=course] .ui.table tr h3{
    margin-bottom: 5px;
}
[data-tab=course] .ui.table tr td .description{
    height: 40px;
    overflow: hidden;
}
[data-tab=course] .ui.table tr td .meta{
    height: 30px;
}
[data-tab=course] .ui.table tr td .date{
    color: grey;
    position: absolute;
    bottom: 20px;
}
[data-tab=course] .ui.table tr td .teachers {
    margin-left: 170px;
}
[data-tab=course] .ui.table tr td .members{
    position: absolute;
    bottom: 15px;
    right: 15px;
}
[data-tab=course] .ui.table tr td .rating{
    position: absolute;
    top: 15px;
    right: 15px;
}
.ui.modal.course_settings table{
    width: 100%;
}
.ui.modal.course_settings table td{
    padding: 5px;
    height: 55px;
}
[data-tab=course] .pagination{
    display: block;
}
